3004project/test1.pro.user
3004project/test1.pro.user.ddc7208
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/.qmake.stash
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/Makefile
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/MenuView.o
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/TreatmentView.o
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/battery.o
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/device.o
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/display.o
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/frequency.o
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/main.o
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/mainwindow.o
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/moc_mainwindow.cpp
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/moc_mainwindow.o
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/moc_predefs.h
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/program.o
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/test1.app/Contents/Info.plist
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/test1.app/Contents/MacOS/test1
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/test1.app/Contents/PkgInfo
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/test1.app/Contents/Resources/empty.lproj
build-test1-Desktop_x86_darwin_generic_mach_o_64bit-Debug/ui_mainwindow.h